---
layout: default
---
        <h3>Tags</h3>
        <ul class="tags">
            {% for tag in site.tags %}
                <li><a href="#{{ tag| first }}" title="{{ tag | first }}">{{ tag | first }}</a><sup>{{ tag | last | size}}</sup></li>
            {% endfor %}
        </ul>

        {% for tag in site.tags %}
            <a name="{{ tag | first }}"></a>
            <h4>{{ tag | first }}({{ tag | last | size }})</h4>
            <ul>
            {% for post in tag.last %}
                <li>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
