---
layout: default
---
        <h2>Tags</h2>
        <ul class="tags">
            {% for tag in site.tags %}
                <li><a href="#{{ tag| first }}" title="{{ tag | first }}">{{ tag | first }}</a><span class="size">{{ tag | last | size}}</span></li>
            {% endfor %}
        </ul>

        {% for tag in site.tags %}
            <a name="{{ tag | first }}"></a>
            <h3>{{ tag | first }}({{ tag | last | size }})</h3>
            <ul>
            {% for post in tag.last %}
                <li>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}